    <section>
        <div class="container">
            <div class="row container">
                <h1>Leaderboard</h1>
            </div>
            <div class="row container add-margin">
                <div class="border-box">
                    <ol class="leadership-items">
                        <li>
                            <img src="http://placekitten.com/g/50/50">
                            Juanita
                            <canvas class="water-data"></canvas>
                        </li>
                        <li>
                            <img src="http://placekitten.com/g/50/50">
                            Heather
                            <canvas class="water-data"></canvas>
                        </li>
                        <li>
                            <img src="http://placekitten.com/g/50/50">
                            Michelle
                            <canvas class="water-data"></canvas>
                        </li>
                        <li>
                            <img src="http://placekitten.com/g/50/50">
                            Stephanie
                            <canvas class="water-data"></canvas>
                        </li>
                        <li>
                            <img src="http://placekitten.com/g/50/50">
                            Spongebob
                            <canvas class="water-data"></canvas>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>